<aside>
  <ul>
    <li [routerLink]="'/home'" class="p-4 cursor-pointer" >Home</li>
    <h1>Components</h1>
    <li [routerLink]="'/greeting'" class="p-4 cursor-pointer" >Greeting </li>
    <li [routerLink]="'/list'" class="p-4 cursor-pointer" >List</li>
    <li [routerLink]="'/display-input'" class="p-4 cursor-pointer" >Display-Input</li>
    <li [routerLink]="'/dashboard'" class="p-4 cursor-pointer" >Dashboard</li>

    <h1>Directives</h1>
    <li [routerLink]="'/highlight'" class="p-4 cursor-pointer" >Directive </li>
    <li [routerLink]="'/tooltip'" class="p-4 cursor-pointer" >Tooltip </li>
    <li [routerLink]="'/min-length'" class="p-4 cursor-pointer" >Min-Length </li>
    <li [routerLink]="'/animation'" class="p-4 cursor-pointer" >Animation </li>

    <h1>Services</h1>
    <li [routerLink]="'/dataservice'" class="p-4 cursor-pointer" >Data Service </li>

  </ul>
</aside>


<div class="components-area">
  <router-outlet></router-outlet>
</div>