<aside>
  <ul>
    <li [routerLink]="'/home'" class="p-4 cursor-pointer" >Home</li>
    <h1>Components</h1>
    <li [routerLink]="'/greeting'" class="p-4 cursor-pointer" >Greeting </li>
    <li [routerLink]="'/list'" class="p-4 cursor-pointer" >List</li>
    <li [routerLink]="'/display-input'" class="p-4 cursor-pointer" >Display-Input</li>
    <li [routerLink]="'/dashboard'" class="p-4 cursor-pointer" >Dashboard</li>

    <h1>Directives</h1>
    <li [routerLink]="'/highlight'" class="p-4 cursor-pointer" >Directive </li>
  </ul>
</aside>

<!-- <div appHighlight>
  Hover over me to see the highlight effect!
</div> -->

<div class="components-area">
  <router-outlet></router-outlet>
</div>