<aside>
  <ul>
    <!-- <li [routerLink]="'/'" class="p-4 cursor-pointer" >All</li> -->
    <h1>Components</h1>
    <li [routerLink]="'/greeting'" class="p-4 cursor-pointer" >Greeting </li>
    <li [routerLink]="'/list'" class="p-4 cursor-pointer" >List</li>
    <li [routerLink]="'/display-input'" class="p-4 cursor-pointer" >Display-Input</li>
    <li [routerLink]="'/dashboard'" class="p-4 cursor-pointer" >Dashboard</li>

  </ul>
</aside>

<div class="components-area">
  <router-outlet></router-outlet>
</div>